#Django settings
ENVIRONMENT=docker
SECRET_KEY=41uzsty#9e%4nukm5wy%-5ur*2+cje&0(833*jat%9h^p_$jnq
DEBUG=True
TZ=America/Mexico_City
LANGUAGE_CODE=es-MX

# Db Settings
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_PORT=5432
